

{{>admin_header}}

       <section>
        <div class="container mt-4">
        <div class="row">

            <div class="col-md-6">
                <h2>Edit User Information</h2>
                <form action="/admin/edit/{{user.email}}" method="post">
                <label for="name">Name</label>
                <input type="text" name="username" class="form-control" value="{{user.username}}">

                <label for="category">Gmail</label>
                <input type="text" name="email" class="form-control" value="{{user.email}}">

                
                <label for="price">Number</label>
                <input type="number" name="number" class="form-control" value="{{user.number}}">


                <button type="submit" class="btn btn-primary mt-4">Save</button>

                </form>
            </div>


        </div>


        </div>
       </section>    

{{>admin_footer}}