<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Myshop</title>
    <meta content="width=device-width, initial-scale=1.0 maximum-scale=1.0" name="viewport">
    <meta content="Shopping Shirts Pants Shoes Buy" name="keywords">
    <meta content="Best online store to buy dress" name="description">


    <style>
        body {
            margin-top: 15vh;
        }

        .productName{

            text-transform: capitalize;
            text-decoration: none;
        }

        #profile{
            cursor: pointer;
        }

        .header {
            background-color: #6f6ad0;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            padding: 0px 25px;
            height: 60px;
            align-items: center;
            position: fixed;
            top: 0;
            width: 100%;
            z-index: 100;
        }

        #one {
            display: grid;
            grid-template-columns: 1fr 35px;
        }

        .logo img {
            height: 40px;
        }

        .logo {
            display: flex;
            align-items: center;
        }

        .search input {
            height: 35px;
            width: 100%;
            border: none;
            outline: none;
            border-radius: 3px 0px 0px 3px;
            padding: 10px;
            font-size: 16px;
        }

        .search button {
            height: 35px;
            border: none;
            outline: none;
            border-radius: 0px 3px 3px 0px;
            font-size: 16px;
            background-color: white;
        }

        .icons {
            text-align: right;
        }

        .icons a {
            text-decoration: none;
        }

        .header .fa {
            color: white;
            font-size: 22px;
            padding: 0px 10px;
            transition: 0.4s;
        }

        #profile {
            color: white;
        }

        #profile:hover {
            color: #b9e3fb
        }

        #profile::after {
            display: none;
        }

        .search .fa {
            color: #6f6ad0;
        }

        .header .fa:hover {
            color: #b9e3fb
        }

        form * {
            display: inline-block;
        }

        #myBtn {
            display: none;
            position: fixed;
            bottom: 10px;
            right: 10px;
            z-index: 99;
            font-size: 18px;
            border: none;
            outline: none;
            background-color: #007bff;
            color: white;
            cursor: pointer;
            padding: 15px;
            border-radius: 4px;
        }

        #myBtn:hover {
            background-color: #007bffdc;
        }

        .oldRate{
            margin-left:5px;
            font-size:16px;
            color:rgba(239, 33, 33, 0.986);
            font-weight: 700;
        }

        @media only screen and (max-width:600px) {
            .header {
                grid-template-columns: auto auto;
                padding: 10px 7px;
                height: auto;
            }

            .search {
                grid-column: 2;
                grid-row: 2;
                grid-column: 1/span 2;
                padding-top: 10px;

            }

            .fa {
                padding: 5px;
            }
           
        }
    </style>


    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>


    <script>
        window.onscroll = () => {
            scrollFunction()
        }
        // When the user scrolls down 20px from the top of the document, show the button


        function scrollFunction() {
            if (document.body.scrollTop > 300 || document.documentElement.scrollTop > 300) {

                document.getElementById("myBtn").style.display = "block";
            } else {
                document.getElementById("myBtn").style.display = "none";
            }
        }

        // When the user clicks on the button, scroll to the top of the document
        function topFunction() {
            document.body.scrollTop = 0;
            document.documentElement.scrollTop = 0;
        }
    </script>

    {{!-- Sweet Alert --}}
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <style>
        .product-item:hover {
            box-shadow: 0 1px 2px rgba(0, 0, 0, 0.07),
                0 2px 4px rgba(0, 0, 0, 0.07),
                0 4px 8px rgba(0, 0, 0, 0.07),
                0 8px 16px rgba(0, 0, 0, 0.07),
                0 16px 32px rgba(0, 0, 0, 0.07),
                0 32px 64px rgba(0, 0, 0, 0.07);
        }

        .header{
           box-shadow: 0px 0px 6px 1px black; 
        }

        .title {
            color: #007bff;
            margin: 10px;
        }
        .navBadge{
            color:white;
            padding: 0;
            position: relative;
            right: 0;
            top: 0;
        }
        .customBadge{
            display: inline-block;
padding: .35em .65em;
font-size: .75em;
font-weight: 700;
line-height: 1;
color: #fff;
background-color: green;
text-align: center;
white-space: nowrap;
vertical-align: baseline;
border-radius: .25rem;
        }
    </style>

</head>

<body>
    <button onclick="topFunction()" id="myBtn" title="Go to top"><span class="fas fa-angle-double-up"></span></button>


    <div class="header" style="margin-bottom:15px;">
        <div class="logo">
            <div>
            </div>
            <div>
                {{!-- <a href="/home"><img src="" alt="logo"></a> --}}
               <span style="margin-right:20px;"><a href="/home" style="color:white;text-decoration:none;cursor:pointer;font-size: larger;font-weight:800;"><span style="color:#29edeb">MY</span>SHOP</a></span>
            </div>
            <div> 

                
                <div class="dropdown">
                    <a class="dropdown-toggle"  id="dropdownMenuButton" style="color:white;text-decoration:none;cursor:pointer"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       category
                    </a>
                    <div class="dropdown-menu mt-4" aria-labelledby="dropdownMenuButton">
                        {{#each category}}
                        <form action="/search" method="get">
                        <input type="text" name="searchKey" value="{{this.category}}" style="display:none;">
                        <button  type="submit" class="dropdown-item">{{this.category}}</button></form>
                        {{/each}}
                        
                    </div>
                </div>












            </div>
        </div>
        <div class="search">
            <form action="/search" method="get" id="one">
                <input type="text" name="searchKey" id="searchBar" placeholder="Search Here" autocomplete="off"><button
                    class="fa fa-search"></button>
            </form>
        </div>
        <div class="icons">
            <a href="/wishlist" {{#if wishlist}} style="color: #29edeb;" {{/if}} class="fa fa-heart">
            <span class="badge navBadge badge-light" id="wishlist-icon"></span>
            <span class="sr-only">Items in wishlist</span>
            </a>
            <a href="/cart" {{#if cart}} style="color: #29edeb;" {{/if}} class="fa fa-shopping-cart">
            <span class="badge navBadge badge-light" id="cart-icon"></span>
            <span class="sr-only">Items in cart</span>
            </a>
            <a class="dropdown">
                <a class=" dropdown-toggle fa fa-user" id="profile" {{#if user}} style="color: #29edeb;" {{/if}} data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false" id="profile">
                </a>
                <div class="dropdown-menu mt-4">
                    <a class="dropdown-item" href="/myprofile">Profile</a>
                    <a class="dropdown-item" href="/orders">Order</a>
                    <a class="dropdown-item" href="/logout">Logout</a>
                </div>
            </a>


        </div>
    </div>
    {{!--
    <div class="category">
        hello
    </div> --}}
