{{>user_header}}

<div class="container">
<div style="margin:0 auto; width:fit-content">
<div style="display:flex;flex-direction:column; justify-content: center; align-items: center;">
<img src="/images/emptyCart.jpg" alt="" style="width:25vw;">
<h1 style="font-size:2rem;">Empty cart</h1>
<h6 style="font-size:1rem;">You have no items in your Cart. Start adding!</h6>
<a href="/home" class="btn btn-success">Shop now</a>

</div>
</div>

    

</body>

</html>