{{>user_header}}
<div class="container">
<div style="margin:0 auto; width:fit-content">
<div style="display:flex;flex-direction:column; justify-content: center; align-items: center;">
<img src="/images/emptyOrder.png" alt="" style="width:25vw;">
<h1 style="font-size:2rem;">Empty Order</h1>
<h6 style="font-size:1rem;">You Don't Make Any Order Yet. Make Your First Order Now!</h6>
<a href="/home" class="btn btn-success">Shop now</a>
</div>
</div>
</div>
{{>user_footer}}