<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>login page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <style>

:root{
    --background:#191919;
    --focus:#2ecc71;
    --hover:#2ecc71;
    --text:white;
    --border:#3498db;
}


body {
    margin: 0;
    padding: 0;
    width: fit-content;
    font-family: sans-serif;
    background-color: #6f6ad0;
}

.box {
    margin-top: 10vh;
    padding: 3rem;
    background: var(--background);
    text-align: center;
    transition: 0.25s;
    transform: translate(-50%,-50%);
    position: absolute;
    top:50vh;
    left: 50vw;    
}

.box input {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid var(--border);
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: var(--text);
    border-radius: 10px;
    transition: 0.30s
}

.box h1 {
    color: var(--text);
    text-transform: uppercase;
    font-weight: 500
}

.box input:focus {
    border-radius: 24px;
    border-color: var(--focus)
}

.box button[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid var(--hover);
    padding: 10px 35px;
    outline: none;
    color: var(--text);
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box button[type="submit"]:hover {
    background: var(--hover)
}


.signup {
    text-decoration: none;
    position: absolute;
    left: 5%;
    bottom: 5%;
}
#warning{
visibility:hidden;
}

    </style>
</head>
<body>
    
    
<form action="/signup" id="signup" method="post" class="box">
    <h1><span style="color:white;text-decoration:none;cursor:pointer;font-size: larger;font-weight:400;"><span style="color:#29edeb">MY</span>SHOP <br> SIGNUP</a></span></h1>
                
    <p class="text-danger" id="warning">Please enter Valid Email and password</p>

    <input type="text" name="username" id="username" placeholder="Name" onfocus="removeError('name-error')" onfocusout="validateName()">
    <p class="alert alert-danger" id="name-error" style="display: none;"></p>

    <input type="email" id="email" name="email"  placeholder="Email" onfocus="removeError('email-error')" onfocusout="validateEmail()">
    <p class="alert alert-danger" id="email-error" style="display: none;"></p>
                            
    <input type="password" id="password" name="password" placeholder="Password" onfocus="removeError('password-error')" onfocusout="validatePassword()">
    <p class="alert alert-danger" id="password-error" style="display: none;"></p>
                            
    <input type="number" id="phone-number" name="number" placeholder="Phone Number" onfocus="removeError('phone-error')" onfocusout="validatePhone()">
    <p class="alert alert-danger" id="phone-error" style="display: none;"></p>         

    <input type="text" name="referelCode" id="referelCode" placeholder="Referel Code (optional)">
    
                   
                            
    <button type="submit">Submit</button> 
    <a class="signup text-muted" href="/">Already have an Account? Sign In</a>
</form>


<script>

const form = document.getElementById('signup')
var nameErr = document.getElementById('name-error');
var emailErr = document.getElementById('email-error');
var phoneErr = document.getElementById('phone-error');
var passwordErr = document.getElementById('password-error');


function validateName(){
    var name = document.getElementById('username').value;
    nameErr.style.display = 'block';

    if(name.length == 0) {
        nameErr.innerHTML = 'Name is required';
        return false;
    }


    if(!name.match(/^[A-Za-z]*$/)){
        nameErr.innerHTML = 'Enter Valid name';
        return false;

    }
    nameErr.innerHTML = ''; 
    nameErr.style.display = 'none';
    return true;
}

function validateEmail(){
    var email = document.getElementById('email').value;
    emailErr.style.display = 'block';
    if(email.length == 0) {
        emailErr.innerHTML = 'Email is required';
        return false;
    }

    if(!email.match(/^[A-Za-z\._\-[0-9]*[@][A-Za-z]*[\.][a-z]{2,4}$/)){
        emailErr.innerHTML = 'Enter a valid email';
        return false;
    }
    emailErr.innerHTML = ""
    emailErr.style.display = 'none';
    return true
}

function validatePhone(){
    var phone = document.getElementById('phone-number').value;
    phoneErr.style.display = 'block';
    if(phone.length == 0){
      phoneErr.innerHTML='Phone number is required';
      return false;
    }
    
    if(phone.length !== 10){
      phoneErr.innerHTML='Phone number should 10 digit';
      return false;
    }
    
    if(!phone.match(/^[0-9]{10}$/)){
      phoneErr.innerHTML = 'Phone number should be 10 digit';      
      return false;
    }
    phoneErr.style.display = 'none';
    return true;

}     

function validatePassword(){
    var password = document.getElementById('password').value;
    passwordErr.style.display = 'block';
    if(password.length == 0){
        passwordErr.innerHTML='Password is required';
        return false;
      }
  
     if(password.length < 8) {
        passwordErr.innerHTML = 'Password is Atleast 8 characters';
        return false;
    }

    passwordErr.innerHTML = ""
    passwordErr.style.display = 'none';
    return true
}

        function removeError(errId){
         document.getElementById(`${errId}`).style.display = "none"
        }




form.addEventListener('submit',(e)=>{
   if(!validateName() || !validateEmail() || !validatePhone() || !validatePassword() ){
    e.preventDefault()
}


    
})

</script>

</body>
</html>






