<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>User Sign up</title>
    <meta content="width=device-width, initial-scale=1.0 , maximum-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/images/myshop.png" rel="icon">
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>


   <!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

        <style>

:root{
    --background:#191919;
    --focus:#2ecc71;
    --hover:#2ecc71;
    --text:white;
    --border:#3498db;
}


body {
    margin: 0;
    padding: 0;
    width: fit-content;
    font-family: sans-serif;
    background-color: var(--border);

}

.box {
    padding: 3rem;
    background: var(--background);
    text-align: center;
    transition: 0.25s;
    transform: translate(-50%,-50%);
    position: absolute;
    top:50vh;
    left: 50vw;  
}


.box input[type="email"],
.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid var(--border);
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color: var(--text);
    border-radius: 10px;
    transition: 0.30s
}

.box h1 {
    color: var(--text);
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="email"]:focus,
.box input[type="password"]:focus {
    border-radius: 24px;
    border-color: var(--focus)
}

.box button[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid var(--hover);
    padding: 10px 35px;
    outline: none;
    color: var(--text);
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box button[type="submit"]:hover {
    background: var(--hover)
}

.signup {
    text-decoration: none;
    position: absolute;
    left: 5%;
    bottom: 5%;
}

p{
    color:red
}
</style>



</head>

<body>
    <form action="/" method="post" class="box" id="login">
                <h1><span style="color:white;text-decoration:none;cursor:pointer;font-size: larger;font-weight:800;"><span style="color:yellow">MY</span>SHOP</a></span></h1>
                <p class="{{err_class}}">{{err}}</p>
                <input type="email" name="email" id="email" placeholder="Email" onfocusout="validateEmail()" onfocus="removeError('email-error')" autocomplete="off">
                <p class="alert alert-danger" id="email-error" style="display: none;"></p>
                <input type="password" name="password" id="password" placeholder="Password" onfocus="removeError('password-error')" onfocusout="validatePassword()">
                <p class="alert alert-danger" id="password-error" style="display: none;"></p>
                <button type="submit" >Submit</button>
                <a class="signup text-muted" href="signup">Don't have an Account? Sign up</a>
            </form>
    
    <script>
        const form = document.getElementById('login')
        var emailErr = document.getElementById('email-error');
        var passwordErr = document.getElementById('password-error');


        function removeError(errId){
            setTimeout(()=>{
                document.getElementById(`${errId}`).style.display = "none"
            },1000)
         
        }
        
        function validateEmail(){
            var email = document.getElementById('email').value;
            emailErr.style.display = 'block';
            if(email.length == 0) {
                emailErr.innerHTML = 'Email is required';                
                return false;
            }

            if(!email.match(/^[A-Za-z\._\-[0-9]*[@][A-Za-z]*[\.][a-z]{2,4}$/)){
                emailErr.innerHTML = 'Enter a valid email';                
                return false;
            }
            emailErr.innerHTML = ""
            emailErr.style.display = 'none';
            return true
        }


            function validatePassword(){
        var password = document.getElementById('password').value;
        passwordErr.style.display = 'block';
        if(password.length == 0){
            passwordErr.innerHTML='Password is required';            
            return false;
        }
    
        if(password.length < 8) {
            passwordErr.innerHTML = 'Password is Atleast 8 characters';            
            return false;
        }

        passwordErr.innerHTML = ""
        passwordErr.style.display = 'none';
        return true
        }

        form.addEventListener('submit',(e)=>{
   if( !validateEmail() || !validatePassword() ){
    e.preventDefault()
} 
})
    </script>

</body>

</html>