{{>user_header}} 
<div id="wallet" class="container">
    <h1>Wallet Balance</h1>
    <h5>{{walletDetails.balance}}</h5>
    <h1>myReferelId</h1>
    <h5>{{walletDetails.myReferelId}}</h5>
    <h1>whoReferedMe</h1>
    <h5>{{walletDetails.whoReferedMe}}</h5>
</div>
{{>user_footer}}